*.pkl
*.jpg
*.mp4
*.pth
*.pyc
*.pth
__pycache__
*.h5
*.avi
*.wav
filelists/*.txt
evaluation/test_filelists/lr*.txt
*.pyc
*.mkv
*.gif
*.webm
*.mp3
gan
*lip-wise
*test*
*_rgh.py
*frame*.png
dlib*
*.onnx
.vscode
.exe
*.png
*_OLD.md
*temp
*weights
*optimizer.ipynb
infer_sl.py
launch_sl.py
optimizer_1.ipynb
assets/gradient-ui-ux-elements.zip
Experiments/models/yunet.py
Experiments/models/wav2lip.py
Experiments/models/syncnet.py
Experiments/models/conv.py
Experiments/models/__init__.py
Experiments/helpers/preprocess_mp.py
Experiments/helpers/model_loaders.py
Experiments/helpers/hparams.py
Experiments/helpers/file_check.py
Experiments/helpers/batch_processors.py
Experiments/helpers/audio.py
Experiments/helpers/__init__.py
Experiments/infer.py
Experiments/__init__.py
