*.pkl
*.jpg
*.mp4
*.pth
*.pyc
*.pth
__pycache__
*.h5
*.avi
*.wav
filelists/*.txt
evaluation/test_filelists/lr*.txt
*.pyc
*.mkv
*.gif
*.webm
*.mp3
gan
*lip-wise
*test*
*_rgh.py
*frame*.png
dlib*
*.onnx
.vscode
.exe
*.png
*_OLD.md
*temp
*weights
*optimizer.ipynb
infer_sl.py
launch_sl.py
