.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E2533FF;
    margin-bottom: 0px;
    padding: 1rem 1rem;
    border-radius: 8px;
  }
  
  .title-container {
    display: inline-block;
    gap: 0rem;
  }
  
  .title {
    background-color: black;
    color: white;
    border-radius: 8px 8px 0px 0px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0;
    text-shadow: hsla(0, 2%, 9%, 0.747) 0 1px 30px;
  }
  
  .stats {
    background-color: white;
    color: black;
    border-radius: 0px 0px 8px 8px;
    font-size: 0.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    padding: 0.2rem;
    text-shadow: hsla(0, 2%, 9%, 0.747) 0 1px 30px;
  }
  
  .badge-container {
    display: flex;
    align-items: center;
  }
  
  .badge {
    max-width: 20rem;
    height: auto;
    padding: 2px;
    background-color: transparent;
  }
  